:root {
    --text: #111235;
    --anchr-bckgrnd: #4B5092;
    --anchr-txt: #ffffff;
    --bluebg: #F2F8FF;
}

* {
    margin: 0;
}

/* Element Selectors */

html {
    background: linear-gradient(7.28deg, #EEF5FF 0%, #FFFFFF 99.69%);
}

body {
    height: 100%;
    font-family: 'Hellix', sans-serif;
    color: var(--text);
}

header {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

h1, h2 {
    font-weight: 500;
}

header > h2, footer > h2 {
    font-size: 36px;
    line-height: 43px;
    margin: 0;
    padding: 16px;
    text-align: center;
}

span {
    font-weight: 700;
}

h1 {
    font-size: 64px;
    line-height: 75px;
    margin: 0 0 20px 0;
}

a {
    display: inline-block;
    width: 60%;
    color: var(--anchr-txt);
    background-color: var(--anchr-bckgrnd);
    border: none;
    border-radius: 35px;
    font-size: 18px;
    line-height: 22px;
    padding: 18px 0;
    text-decoration: none;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}

footer {
    margin-bottom: 104px;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

footer > h2 {
    margin-bottom: 50px;
    padding: 0;
}

footer > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
}

footer > ul > li {
    padding-bottom: 35px;
}

footer > p:first-of-type {
    align-self: flex-start;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

input {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    line-height: 24px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    outline: none;
}

input[type="email"] {
    width: 55%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    color: red;
}

input[type="email"]::placeholder {
    color: var(--text);
    font-family: Hellix;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

input[type="submit"] {
    width: 10%;
    margin-left: -20px;
    box-sizing: border-box;
    background: #FFFFFF url("https://assets.codepen.io/6060109/icon-send.png") no-repeat center;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.7;
}

/* Class Selectors */
.container {
    margin-bottom: 120px;
}

.text-center {
    text-align: center;
}

.container img {
    width: 100%;
}

.container h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}

.text {
    margin: 0px 15px 30px 15px;
    font-size: 16px;
    line-height: 24px;
}

.choose-text {
    background-color: var(--bluebg);
    margin-bottom: 120px;
    padding: 50px 16px;
}

.alex {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    padding-top: 80px;
}

.alex > h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

.alex > .text > p:first-of-type {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.btn-secondary {
    color: #436BAA;
    background-color: var(--anchr-txt);
    margin-bottom: 52px;
}

.panel {
    margin-bottom: 20px;
    padding: 50px 40px;
    border-radius: 30px;
}

.bg-blue {
    background-color: #E4F0FF;
}

.bg-purple {
    background: rgba(114, 122, 239, 0.1);
}

.benefits > h2 {
    margin-bottom: 40px;
}

.benefits-btn {
    margin-top: 40px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    padding: 0;
}

.social-links > a {
    margin: 16px;
    padding: 0;
    background: none;
    display: inline;
    width: auto;
    border-radius: 50%;
}

.social-links > a > img {
    margin: 0;
    padding: 7px;
    width: 17px;
    background: rgb(128, 173, 245, 0.1);
    border-radius: 50%;
}

footer > p:last-of-type {
    font-size: 14px;
    line-height: 24px;
}

/* ID Selectors */

#situp {
    margin: 40px 0;
}

#lunge {
    margin-bottom: 30px;
}

#alex {
    margin-bottom: -5px;
}

#walk {
    margin-bottom: 50px;
}

/* Modifier Selectors */

.mb-86 {
    margin-bottom: 86px;
}